.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.main {
  flex: 1;
  padding: 24px;
  margin-top: 0; /* Убираем лишний отступ */
  background-color: #f9f9f9;
}

/* Адаптивность: уменьшаем отступы на мобильных */
@media (max-width: 768px) {
  .main {
    padding: 16px;
  }
}
