/* src/shared/ui/forms/otherComponents/NameField/NameField.module.css */
.root {
  margin-bottom: 1rem;
}

.root.error {
  border-color: #ff4d4f;
}

.root.success {
  border-color: #52c41a;
}

.root.warning {
  border-color: #faad14;
}
