.toggle-button {    
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-primary);
}

.content{
  margin: 5px;
  border-radius: 5px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  width: 100%;
  height: 400px;
  border: 2px solid var(--text-primary);
}