:global([data-theme='light']) {
  --bg-primary: #ece8e8;    /* светлый фон */
  --text-primary: #000000;  /* тёмный текст */
}

:global([data-theme='dark']) {
  --bg-primary: #000000;    /* тёмный фон */
  --text-primary: #ffffff;  /* светлый текст */
}

:global(html){
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.toggle-button {    
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-primary);
}

.content{
  margin: 5px;
  border-radius: 5px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  width: 100%;
  height: 400px;
  border: 2px solid var(--text-primary);
}