.navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  border-radius: 4px;
  transition: color 0.3s;
}

.active-link {
  color: #007bff;
  font-weight: bold;
}
.cartLink {
  display: flex;
  align-items: center;
  gap: 6px; /* Отступ между текстом и бейджем */
}


@media (max-width: 768px) {
  .navigation {
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
}
