.container { padding: 20px; max-width: 800px; }
.title { color: #131517; margin-bottom: 20px; }

/* Калькулятор */
.calculator { padding: 20px; max-width: 500px; background: #f8f9fa; border-radius: 8px; color: rgb(33, 32, 32);}
.select { width: 100%; padding: 10px; border: 1px solid #ced4da; border-radius: 4px; color: rgb(33, 32, 32);}
.result { background: white; padding: 15px; border-radius: 6px; color: rgb(33, 32, 32);}
