version: '3.7'

services:
  react_app:
    build:
      context: .
      dockerfile: Dockerfile
    image: react_start_project:latest
    ports:
      - "5173:5173"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    tty: true
