/* src/shared/ui/forms/otherComponents/FormItem/FormItem.module.css */
.root {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.root.error {
  color: #ff4d4f;
}

.root.success {
  color: #52c41a;
}

.root.warning {
  color: #faad14;
}
